---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: mgxcsi-node
  namespace: {{ .Release.Namespace }}
{{ include "mgx.labels" . | indent 2 }}
spec:
  selector:
    matchLabels:
      app: mgxcsi-node
  template:
    metadata:
{{ include "mgx.labels" . | indent 6 }}
        app: mgxcsi-node
    spec:
      serviceAccount: mgxcsi-node-sa
      hostNetwork: true
      initContainers:
      - name: load-nvme-tcp
        image: "{{ .Values.image.mgxcsi.repository }}:{{ .Values.image.mgxcsi.tag }}" 
        imagePullPolicy: {{ .Values.image.mgxcsi.pullPolicy }}
        command: ["modprobe", "nvme-tcp"]
        securityContext:
          privileged: true
        volumeMounts:
          - name: lib-modules
            mountPath: /lib/modules
            readOnly: true
      containers:
      - name: mgxcsi-registrar
        securityContext:
          privileged: true
        image: "{{ .Values.image.nodeDriverRegistrar.repository }}:{{ .Values.image.nodeDriverRegistrar.tag }}"
        imagePullPolicy: {{ .Values.image.nodeDriverRegistrar.pullPolicy }}
        args:
        - "--v=5"
        - "--csi-address=unix:///csi/csi.sock"
        - "--kubelet-registration-path=/var/lib/kubelet/plugins/csi.migrx.io/csi.sock"
        livenessProbe:
          exec:
            command:
            - /csi-node-driver-registrar
            - --kubelet-registration-path=/var/lib/kubelet/plugins/csi.migrx.io/csi.sock
            - --mode=kubelet-registration-probe
          initialDelaySeconds: 30
          timeoutSeconds: 15
        volumeMounts:
        - name: socket-dir
          mountPath: /csi
        - name: registration-dir
          mountPath: /registration
      - name: mgxcsi-node
        securityContext:
          privileged: true
          capabilities:
            add: ["SYS_ADMIN"]
          allowPrivilegeEscalation: true
        image: "{{ .Values.image.mgxcsi.repository }}:{{ .Values.image.mgxcsi.tag }}"
        imagePullPolicy: {{ .Values.image.mgxcsi.pullPolicy }}
        args:
        - "--v=5"
        - "--endpoint=unix:///csi/csi.sock"
        - "--nodeid=$(NODE_ID)"
        - "--node"
        env:
        - name: NODE_ID
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        volumeMounts:
        - name: socket-dir
          mountPath: /csi
        - name: plugin-dir
          mountPath: /var/lib/kubelet/plugins
          mountPropagation: "Bidirectional"
        - name: pod-dir
          mountPath: /var/lib/kubelet/pods
          mountPropagation: "Bidirectional"
        - name: host-dev
          mountPath: /dev
        - name: host-sys
          mountPath: /sys
        - name: mgxcsi-secret
          mountPath: /etc/csi-secret/secret.json
          subPath: secret.json
          readOnly: true
      volumes:
      - name: socket-dir
        hostPath:
          path: /var/lib/kubelet/plugins/csi.migrx.io
          type: DirectoryOrCreate
      - name: registration-dir
        hostPath:
          path: /var/lib/kubelet/plugins_registry/
          type: Directory
      - name: plugin-dir
        hostPath:
          path: /var/lib/kubelet/plugins
          type: Directory
      - name: pod-dir
        hostPath:
          path: /var/lib/kubelet/pods
          type: Directory
      - name: host-dev
        hostPath:
          path: /dev
      - name: host-sys
        hostPath:
          path: /sys
      - name: mgxcsi-secret
        secret:
          secretName: mgxcsi-secret
      - name: lib-modules
        hostPath:
          path: /lib/modules
          type: Directory

