{{- if .Values.storageclass.create -}}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: mgxcsi-sc
provisioner: csi.migrx.io
parameters:
  config: default
  labels: "pool=pool1,tier=dev"
  cache_r_cache_size: "4096"
  cache_rw_cache_size: "1024"
  qos_r_mbytes_per_sec: "0"
  qos_w_mbytes_per_sec: "0"
  qos_rw_ios_per_sec: "0"
  storage_encrypt_secret: "key1"
  storage_compress: "0"
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true
{{- end -}}
