{{- if .Values.storageclass.create -}}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: mgxcsi-sc
provisioner: csi.migrx.io
parameters:
  config: {{ .Values.storageclass.config | default "default" }}
  {{- if .Values.storageclass.labels }}
  labels: {{ .Values.storageclass.labels }}
  {{- else }}
  labels: "storage=mgx"
  {{- end }}
  min_cache_r_cache_size: "{{ .Values.storageclass.minCacheRCacheSize | default "1024" }}"
  min_cache_rw_cache_size: "{{ .Values.storageclass.minCacheRWCacheSize | default "1024" }}"
  max_cache_r_cache_size: "{{ .Values.storageclass.maxCacheRCacheSize | default "20480" }}"
  max_cache_rw_cache_size: "{{ .Values.storageclass.maxCacheRWCacheSize | default "3072" }}"
  ratio_cache_r_cache_size: "{{ .Values.storageclass.ratioCacheRCacheSize | default "0.1" }}"
  ratio_cache_rw_cache_size: "{{ .Values.storageclass.ratioCacheRWCacheSize | default "0.05" }}"
  {{- if .Values.storageclass.qosRMBPerSec }}
  qos_r_mbytes_per_sec: "{{ .Values.storageclass.qosRMBPerSec }}"
  {{- end }}
  {{- if .Values.storageclass.qosWMBPerSec }}
  qos_w_mbytes_per_sec: "{{ .Values.storageclass.qosWMBPerSec }}"
  {{- end }}
  {{- if .Values.storageclass.qosRWIOPS }}
  qos_rw_ios_per_sec: "{{ .Values.storageclass.qosRWIOPS }}"
  {{- end }}
  {{- if .Values.storageclass.storageEncryptSecret }}
  storage_encrypt_secret: "{{ .Values.storageclass.storageEncryptSecret }}"
  {{- end }}
  {{- if .Values.storageclass.storageCompress }}
  storage_compress: "{{ .Values.storageclass.storageCompress }}"
  {{- end }}
reclaimPolicy: Delete
volumeBindingMode: Immediate
allowVolumeExpansion: true
{{- end -}}
